body {
    background: white;
}

h1 {
    color: black;
    font-family: 'Inter var', sans-serif;
    font-size: 290%;
    font-weight: 700;
}  

p {
    color: black;
    font-family: 'Inter var', sans-serif;
    font-size: 200%
}

nav, ul {
    margin: 0;
    padding: 0;
    position: relative
}

.error {
    color: black;
    font-family: 'Inter var', sans-serif;
    font-size: 300%;
}

button.return {
    color: black;
    font-size: 200%;
    font-family: 'Inter var', sans-serif;
}
